/*************************
 ******** GENERAL ********
 *************************/
:root{
    --titleBLue: #059cfa;
    --outerButtonBlue: #2953b5;
    --innerButtonBlue: #486bbf;
    --bodyColor1: #e976a4;
    --bodyColor2: #dc6795;

    --arrow: polygon(0% 40%, 70% 40%, 70% 0%, 100% 50%, 70% 100%, 70% 60%, 0% 60%);
    --x: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    user-select: none;
}
#surface{
    width: 1000px;
    height: 562.5px;
    position: relative;
    overflow: hidden;
}

/* tower and upgrade description overlay */
#towerOverlay{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    
    display: none;      /* starts hidden */
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
#towerOverlay #towerPreview{
    background-color: rgb(99, 94, 94);  /* Placeholder */
}
#towerOverlay #backArrow{
    width: 90%;
    height: 20%;
    transform: rotate(180deg);
    
    margin: 7% auto 10% auto;
    cursor: pointer;

    clip-path: var(--arrow);
    background-color: var(--titleBLue) /* Placeholder */
}
#towerOverlay #towerGrid{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(4, 15%);
    column-gap: 10%;
    row-gap: 3.33%;

    overflow-y: auto;
}
#towerOverlay #towerGrid .towerPreview{
    background-color: rgb(86, 82, 82);  /* Placeholder */
}
#towerOverlay #towerGrid .towerPreview img{
    width: 90%;
    justify-self: center;
    align-self: center;
}

#towerOverlay #upgradeAndDescriptions{
    width: 100%;
    height: 100%;
}
#upgradeAndDescriptions #towerName{
    margin: 0;
    padding: 0.8% 4% 1.4% 4%;
    background-color:rgb(86, 82, 82);   /* Placeholder */
    color: white;
    font-size: 2em;
    font-family: grufy;
    text-align: center;
    
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
#upgradeAndDescriptions #towerXP{
    margin: 0;
    padding: 0.1% 2% 0.05% 2%;
    background-color:rgb(86, 82, 82);   /* Placeholder */
    color: white;
    font-size: 1.5em;
    font-family: mario;
    text-align: center;
    
    width: 22%;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 15%;
    right: 27.25%;
}
#upgradeAndDescriptions .upgradeGrid{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;

    display: grid;
    grid-template-columns: 90px 165px 90px 165px 90px;
    grid-template-rows: 90px;
    grid-gap: 5px;
}
#upgradeAndDescriptions .upgrade{
    clip-path: circle(50% at 50% 50%);
    background-color: rgb(99, 94, 94); /* Placeholder */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
#upgradeAndDescriptions .unlockable{
    background-color: rgb(23, 170, 23);
}
#upgradeAndDescriptions .notUnlockable{
    background-color: rgb(196, 19, 19);
}
#upgradeAndDescriptions .unlocked{
    background-color: rgb(55, 115, 225);
}
#upgradeAndDescriptions .path-Arrow{
    height: 60%;
    align-self: center;

    clip-path: var(--arrow);
    background-color: rgb(68, 64, 64);  /* Placeholder */
}
#upgradeAndDescriptions #unlockButton{
    width: 10%;
    position: absolute;
    bottom: 15%;
    right: 10%;
    background-color: rgb(87, 77, 77);
    color: white;
    text-align: center;
    padding: 1%;
    font-family: comicSans;
    font-size: 1.8em;
}
#upgradeAndDescriptions #upgradeDescription{
    font-size: 1.6em;
    font-family: moodboard;
    width: 65%;
    height: 15%;
    color: white;
    background-color: rgb(86, 82, 82);  /* Placeholder */

    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7% 1% 0.5% 1%;

    position: absolute;
    bottom: 0;
    left: 27.5%;
}


/* Settings Menu */
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;      /* default */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#settingsMenu{
    width: 75%;
    height: 70%;
    animation: 1s scaleUp;

    position: relative;
    background-color: rgb(29, 27, 27);  /* Placeholder */
    color: white;
}
#settingsMenu h2{
    text-align: center;
    font-size: 2.5em;
    margin: 1.5% auto 4% auto;
    font-family: grufy;
    letter-spacing: 5px;
}

#settingsMenu #xButton{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 20px;

    cursor: pointer;
    background-color: var(--bodyColor1);
    clip-path: var(--x)
}


#settingsMenu .soundContainer{
    display: grid;
    grid-template-columns: 19% 64% 10%;
    column-gap: 3.5%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
#settingsMenu .slider{
    width: 100%;
    align-self: center;
}
#settingsMenu h3{
    font-family: mario;
    font-size: 1.7em;
    margin: 0;
    text-align: right;
}
#settingsMenu .soundValueDisplay{
    align-self: center;
    font-family: mario;
    font-size: 1.4em;
    margin: 0;
    text-align: right;
    font-weight: bold;
}


/****** Animations *********/
@keyframes scaleUp{
    0%  {overflow:hidden; width: 0; height: 0}
    10% {overflow:hidden; width: 5%; height: 0.2%; border-radius: 10px}
    45% {overflow:hidden; width: 75%; height: 0.7%; border-radius: 4px}
    100%{overflow:hidden; width: 75%; height: 70%; border-radius: 0px}
}
@keyframes fadeIn{
    0%  {opacity: 0}
    100%{opacity: 1}
}
@keyframes drop {
    0%  {transform: translateY(15px) scale(60%); opacity: 1;}
    40% {transform: translateY(-10px) scale(100%); opacity: 0.9;}
    100%{transform: translateY(-10px) scale(96%); opacity: 0;}
}
@keyframes slideFromRight{
    0%  {transform: translateX(200px)}
    100%{transform: translateX(0)}
}
@keyframes slideFromTop{
    0%  {transform: translateY(-100%)}
    100%{transform: translateY(0)}
}
@keyframes scale{
    0%  {transform: scale(0%)}
    100%{transform: scale(100%)}
}


/****** Custom Fonts *******/
@font-face {
    font-family: science;
    src: url('../font/JMH\ Super\ Science.ttf');
}
@font-face {
    font-family: moodboard;
    src: url('../font/Moodboard_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: grufy;
    src: url('../font/Grufy.ttf');
}
@font-face {
    font-family: mario;
    src: url('../font/MARIO_Font_v3_Solid.otf');
}
@font-face {
    font-family: comicSans;
    src: url('../font/Qdbettercomicsans-jEEeG.ttf');
}