/**** Title Screen ****/
#titleScreen h1{
    font-family: science;
    font-size: 15em;
    letter-spacing: 8px;
    text-align: center;

    color: var(--titleBLue);
    margin: 0;
    
    position: relative;
}
#titleScreen #playButtonContainer{
    clip-path: circle(50% at 50% 50%);
    background-color: var(--bodyColor1);
    width: 15vw;
    height: 15vw;
    display: flex;
    cursor: pointer;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#titleScreen #playButton {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 60%;
    height: 60%;

    margin-left: 27%;
    margin-right: auto;
    align-self: center;
}
#titleScreen #playButtonContainer:hover #playButton{
    background-color:rgba(0, 0, 0, 0.3);
}
#titleScreen #playButtonContainer:hover{
    background-color: var(--bodyColor2);
}